<!-- <div class="panel panel-default">
	<div class="panel-heading">
		<h4><i class="fa fa-users"></i> CLIENTES</h4>
	</div> -->
<div class="panel-body" style="background: #FFFFFF;font-family:sans-serif;">
	<div class="col-sm-12">
		<h3><i class="fa fa-users fa-lg"></i> Clientes</h3>
		<hr>
		<div class="row">
			<div class="col-sm-8">
				<div>
					<input class="form-control" type="text" ng-model="search" placeholder="Buscar" aria-label="Search">
				</div>
			</div>
			<div class="col-sm-4">
				<a style="background: #414141" href="#cliente/nuevo" class="btn btn-primary btn-block"><i
						class="fa fa-user-plus fa-lg">
					</i> Nuevo cliente </a>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-12">
				<table class="table table-bordered table-striped">
					<tr>
						<th>NOMBRE CLIENTE</th>
						<th>CEDULA FISICA | JURIDICA</th>
						<th>TELEFONO</th>
						<th>COMO ELECTRONICO</th>
						<th class="text-center">EDITAR</th>
						<th class="text-center">ELIMINAR</th>

					</tr>
					<tr ng-repeat="cliente in clientes | filter:search | limitTo:posicion | limitTo:-7">
						<td style="display: none;">{{cliente.Codigo}}</td>
						<td>{{cliente.Nombre}}</td>
						<td>{{cliente.Identificacion}}</td>
						<td>{{cliente.Telefono}}</td>
						<td>{{cliente.Correo}}</td>
						<td class="text-center"><a href="#/cliente/{{cliente.Codigo}}">
								<i class="fas fa-edit fa-lg" style="color:#414141"></i></a></td>
						<td class="text-center"><a href="#">
								<i class="fas fa-trash-alt fa-lg" style="color:#414141"></i></a></td>
					</tr>
				</table>
				<br>
				<button style="background: #414141" class="btn btn-primary" ng-click="Anterior()">
					<i class="fa fa-chevron-left"></i> Anterior</button>
				<button style="background: #414141" class="btn btn-primary" ng-click="Siguiente()">
					Siguiente <i class="fa fa-chevron-right"></i></button>
			</div>
		</div>
	</div>
</div>
