#labelRed 
{
    background-color :#ff0040;
}
#labelGreen
{
    background-color :#09ff00;
}
#labelDark
{
    background-color :#000000;
}
#labelLightBlue
{
    background-color :#a9e2f3;
}
#labelYellow
{
    background-color :#f3f781;
}
#winWhite
{
   background-color : #ffffff;
}
